<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtHive</title>
    <!--font-->
    <style type="text/css">
        @font-face {
            font-family: myFont;
            src: url(TTChocolatesExtraBold.otf);
        }

        body {
            font-family: myFont;
            src: url(TTChocolatesExtraBold.otf);
        }
    </style>

    <!--CSS files here-->
    <link rel="stylesheet" href="preloader.css">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader">

    </div>
    <!-- Preloader Start -->


    <!--Ardisa Header-->
    <header>
        <!--Header Starts-->
        <div class="header-area"></div>
        <!--Many other divs for each section of the header-->





        <!--Header ends-->
    </header>

    <!--Start Slider-->
    <main>


        <div class="home-area"></div>

        <div class="about-area"></div>

        <div class="catalog-area"></div>






    </main>

    <!--Klea's part-->
    <footer>
        <div class="contact-area"></div>
    </footer>

    <!--Scroll Up-->
    <div id="back-top"></div>

    <!--Preloader script-->
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
            loader.style.display = "none";
        })
    </script>
    <!--JS files here-->

</body>

</html>
