<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home_css/home.css">
    <title>ArtHive</title>
    <!--font-->
    <style type="text/css">
        @font-face {
            font-family: myFont;
            src: url(TTChocolatesExtraBold.otf);
        }

        body {
            font-family: myFont;
            src: url(TTChocolatesExtraBold.otf);
        }
    </style>

    <!--CSS files here-->
    <link rel="stylesheet" href="preloader.css">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader">

    </div>
    <!-- Preloader Start -->


    <!--Ardisa Header-->
    <header>
        <!--Header Starts-->
        
        <!--Many other divs for each section of the header-->

        <div class="homePage">
            <div class="nav">
              <div class="homeSquare">
                <a href="#" id="homePage">Home</a>
              </div>
        
        
        
              <a href="#" id="aboutPage">About</a>
              <a href="#" id="CatalogPage">Catalog</a>
              <a href="#" id="BuyPage">Buy</a>
              <a href="#" id="SellPage">Sell</a>
              <a href="#" id="ContactPage">Contact</a>
              <input type="searchBar" name="searchBar" id="searchBar" placeholder="SearchBar">
              <button type="submit" class="searchButton"><i class="fas fa-search"></i></button>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="horziontalLine"></span>
            </div>
        


        <!--Header ends-->
    </header> 
     <div class="title">
        <h1>"DISCOVER ART. COLLECT JOY."</h1><br><br>
        <h4>WHERE CREATIVITY MEETS ACCESSIBILITY</h4>
      </div>


      <div class="content">
    </div>



    <!--Start Slider-->
    <main>


        <div class="home-area"></div>

        <div class="about-area"></div>

        <div class="catalog-area"></div>






    </main>

    <!--Klea's part-->
    <footer>
        <div class="contact-area"></div>
    </footer>

    <!--Scroll Up-->
    <div id="back-top"></div>

    <!--Preloader script-->
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
            loader.style.display = "none";
        })
    </script>
    <!--JS files here-->

</body>

</html>
