body {
    background: #f1f1f1;
}

#preloader {
    background: #f1f1f1 url(images/Spinner-1s-200px.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}