/*Home-Section*/
/*About-Section*/

:root {
    --primary-color: #f1f1f1;
  }
  
  * {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
  
  
  }
  
  .nav {
    position: fixed;
    top: -7px;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    z-index: 999;
    padding: 10px;
    width: 100%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    /* Add this line to create a shadow effect */
  }
  
  
  
  .nav a {
    position: relative;
    top: 0px;
    left: 40px;
    padding: 30px;
    text-decoration: none;
    color: #292929;
    text-transform: uppercase;
  }
  
  #searchBar {
    position: relative;
    top: 0px;
    left: 30%;
    border-radius: 20px;
    padding: 5px;
    padding-right: 30px;
    text-align: right;
  }
  
  #searchBar::placeholder {
    position: relative;
    /* Add this line to align the placeholder text to the right */
    color: #292929;
    text-transform: uppercase;
    right: 35px;
    color: #292929;
  }
  
  .homeSquare {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 10px;
  
  }
  
  .homeSquare a {
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
    color: rgb(57, 55, 55);
    display: block;
    width: 80px;
    padding: 5px;
    padding-left: 37px;
  
    font-weight: bold;
  }
  
  .searchButton {
    position: relative;
    position: relative;
    top: 0px;
    left: 400px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .searchButton i {
    font-size: 15px;
    color: #282727;
  }
  
  .dot {
    position: relative;
  
    left: 240px;
    height: 7px;
    width: 7px;
    background-color: #292929;
    border-radius: 50%;
    display: inline-block;
  }
  
  .horziontalLine {
    border-left: 1px solid #292929;
    position: relative;
    left: 125px;
    height: 20px;
  }
  
  .title {
    margin-top: 130px;
    /* Add margin-top to create space below the fixed navbar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title h1 {
    color: #292929;
  }
  
  .title h4 {
    color: #595958;
  }
  